<div class="top-tracks-header">
<span class="country-name"><%= location.country.capitalize %></span>
<br><span class="country-tag">Top 10 tracks from last week</span>

<hr class="top-tracks-divider">
</div>

<div class="top-tracks-container">
  <% top_tracks.each do |track| %>
    <div class="song-info-container">
      <div class="song-thumbnail">
        <img class="thumbnail" id="<%= track.id %>" src="<%= track.image_url %>">
      </div>

      <div class="song-info-init">
         <span class="song-info-artist"><%= track.artist %></span></br>
         <%= track.name %>
      </div>

      <div class="song-info-length" style="float:right;text-align:right;">
        <%= track.listeners %> plays
      </div>

    </div> <!-- song info container end -->
      <div id="summary<%= track.id %>" class="summary"></div>
  <% end %>
</div>
